<% provide(:h1, @mainfolder.title) %>
<p id="notice"><%= notice %></p>
<p>Created on: <%= distance_of_time_in_words_to_now @mainfolder.created_on %> ago on (<%= @mainfolder.created_on.strftime("%B-%d-%Y") %>)</p>
<% if @mainfolder.user.userinfo.miniavatar != "" %>
   <br>
   <p><%= image_tag(@mainfolder.user.userinfo.miniavatar_url(:thumb)) %></p>
<% end %>
<p class="navlinks"><div class="container">Artist: <%= getUserPrivilege(@mainfolder.user) %><%= @mainfolder.user.vname %></div>
   <% if(current_user && ((current_user.id == @mainfolder.user_id) || current_user.admin)) %>
      <div class="container"><%= button_to 'Edit', edit_gallery_mainfolder_path(@mainfolder.gallery, @mainfolder), method: :get %></div> <div class="container"><%= button_to 'Destroy', [@mainfolder.gallery, @mainfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <% end %>
</p>
<p>Status: <%= getActivity(@mainfolder.user) %>
   <% if getActivity(@mainfolder.user) == "Inactive" || getActivity(@mainfolder.user) == "Offline" %>
      for <%= distance_of_time_in_words_to_now getTime(@mainfolder.user) %>
   <% end %>
</p>
<p class="navlinks">Gallery: <%= link_to @mainfolder.gallery.name, user_gallery_path(@mainfolder.gallery.user, @mainfolder.gallery) %></p>
<br>
<p><%= @mainfolder.description %></p>
<br>
<% if @subfolders.count > 9 %>
   <p><%= paginate @subfolders %></p>
   <br>
<% end %>
<% @subfolders.each_with_index do |subfolder, index| %>
   <% if(getFolderArts(subfolder, "Count") > 0 || current_user && (((current_user.id == subfolder.user_id) || current_user.admin) || subfolder.collab_mode)) %>
      <div class="container">
         <p><%= link_to subfolder.title, mainfolder_subfolder_path(subfolder.mainfolder, subfolder) %></p>
         <% if(current_user && ((current_user.id == subfolder.user_id) || current_user.admin)) %>
            <div class="container"><%= button_to 'Edit', edit_mainfolder_subfolder_path(subfolder.mainfolder, subfolder), method: :get %></div> <div class="container"><%= button_to 'Destroy', [subfolder.mainfolder, subfolder], method: :delete, data: { confirm: 'Are you sure?' } %></div>
         <% end %>
         <% if getFolderArts(subfolder, "Count") > 0 %>
            <% if subfolder.fave_folder %>
               <p><%= image_tag(getFolderArts(subfolder.favoritearts, "Array").art.image_url(:thumb)) %></p>
            <% else %>
               <p><%= image_tag(getFolderArts(subfolder, "Art").first.image_url(:thumb)) %></p>
            <% end %>
         <% else %>
            <p>No art available</p>
         <% end %>
         <% if subfolder.fave_folder %>
            <p class="navlinks">Art owner: <%= getUserPrivilege(getFolderArts(subfolder.favoritearts, "Array").art.user) %><%= link_to getFolderArts(subfolder.favoritearts, "Array").art.user.vname, user_path(getFolderArts(subfolder.favoritearts, "Array").art.user) %></p>
            <p>Art Group: <%= subfolder.bookgroup.name %></p>
            <p>Type: Favorites Folder</p>
            <p>Faved on: <%= distance_of_time_in_words_to_now subfolder.created_on %> ago on (<%= subfolder.created_on.strftime("%B-%d-%Y") %>)</p>
            <p class="navlinks">Faved by: <%= getUserPrivilege(subfolder.user) %><%= link_to subfolder.user.vname, user_path(subfolder.user) %></p>
            <p>Status: <%= getActivity(subfolder.user) %>
               <% if getActivity(subfolder.user) == "Inactive" || getActivity(subfolder.user) == "Offline" %>
                  for <%= distance_of_time_in_words_to_now getTime(subfolder.user) %>
               <% end %>
            </p>
         <% else %>
            <p>Created on: <%= distance_of_time_in_words_to_now subfolder.created_on %> ago on (<%= subfolder.created_on.strftime("%B-%d-%Y") %>)</p>
            <p>Group: <%= subfolder.bookgroup.name %></p>
            <p>Type: Arts Folder</p>
            <p class="navlinks">Artist: <%= getUserPrivilege(subfolder.user) %><%= link_to subfolder.user.vname, user_path(subfolder.user) %></p>
            <p>Status: <%= getActivity(subfolder.user) %>
               <% if getActivity(subfolder.user) == "Inactive" || getActivity(subfolder.user) == "Offline" %>
                  for <%= distance_of_time_in_words_to_now getTime(subfolder.user) %>
               <% end %>
            </p>
         <% end %>
      </div>
      <% if((index + 1) % 3 == 0 && ((index + 1) < @subfolders.count)) %>
         <br>
         <br>
      <% elsif((index + 1) == @subfolders.count) %>
         <br>
         <br>
      <% end %>
   <% end %>
<% end %>
<% if current_user %>
   <p><%= button_to 'New Subfolder', new_mainfolder_subfolder_path(@mainfolder), method: :get %></p>
   <br>
<% end %>
<p class="navlinks"><%= link_to "Back", user_gallery_path(@mainfolder.gallery.user, @mainfolder.gallery) %></p>
