<%= form_for([@user, @gallery]) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="errorexplan">
      <h2 id="errorheader"><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  OGG files
  <div class="field">
     <%= audio_tag(@gallery.ogg_url.to_s, :controls => true) if @gallery.ogg? %>
  </div>
  <div class="field">
     <%= f.file_field :ogg %>
  </div>
  <div class="field">
    <%= f.label :remote_ogg_url, "or OGG URL" %><br />
    <%= f.text_field :remote_ogg_url %>
    <%= f.hidden_field :ogg_cache %>
  </div>
  MP3 files
  <div class="field">
     <%= audio_tag(@gallery.mp3_url.to_s, :controls => true) if @gallery.mp3? %>
  </div>
  <div class="field">
     <%= f.file_field :mp3 %>
  </div>
  <div class="field">
    <%= f.label :remote_mp3_url, "or MP3 URL" %><br />
    <%= f.text_field :remote_mp3_url %>
    <%= f.hidden_field :mp3_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
  <p class="navlinks"><%= link_to 'Back', user_path(@gallery.user) %></p>
<% end %>
