<% if optional %>
   <% provide(:h1, @user.vname +  "'s channels") %>
<% else %>
   <% provide(:h1, "Channel List") %>
<% end %>
<p><%= paginate @channels %></p>
<% @channels.each do |channel| %>
   <br>
   <p><%= link_to channel.name, user_channel_path(channel.user, channel) %></p>
   <p>Created on: <%= distance_of_time_in_words_to_now channel.created_on %> ago on (<%= channel.created_on.strftime("%B-%d-%Y") %>)</p>
   <% if !optional %>
      <br>
      <% if channel.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(channel.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="navlinks">Director: <%= getUserPrivilege(channel.user) %><%= link_to channel.user.vname, user_path(channel.user) %></p>
      <p>Status: <%= getActivity(channel.user) %>
         <% if getActivity(channel.user) == "Offline" || getActivity(channel.user) == "Inactive" %>
            for <%= distance_of_time_in_words_to_now getTime(channel.user) %>
         <% end %>
      </p>
      <br>
   <% end %>
   <p><%= channel.description %></p>
<% end %>
<% if optional %>
   <br>
   <p class="navlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <br>
   <p class="navlinks"><%= link_to 'Back', root_path %></p>
<% end %>
