<% provide(:h1, @channel.name) %>
<p id="notice"><%= notice %></p>
<p>Created on: <%= distance_of_time_in_words_to_now @channel.created_on %> ago on (<%= @channel.created_on.strftime("%B-%d-%Y") %>)</p>
<% if @channel.user.userinfo.miniavatar != "" %>
   <br>
   <p><%= image_tag(@channel.user.userinfo.miniavatar_url(:thumb)) %></p>
<% end %>
<p class="navlinks"><div class="container">Director: <%= getUserPrivilege(@channel.user) %><%= @channel.user.vname %></div>
   <% if(current_user && ((current_user.id == @channel.user_id) || current_user.admin)) %>
      <div class="container"><%= button_to 'Edit', edit_user_channel_path(@channel.user, @channel), method: :get %></div> <div class="container"><%= button_to 'Destroy', [@channel.user, @channel], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <% end %>
</p>
<p>Status: <%= getActivity(@channel.user) %>
   <% if getActivity(@channel.user) == "Inactive" || getActivity(@channel.user) == "Offline" %>
      for <%= distance_of_time_in_words_to_now getTime(@channel.user) %>
   <% end %>
</p>
<br>
<p>Visitors:</p>
<p class="navlinks">last 20 mins: <%= link_to getChannelVisitors("past20mins", @channel), channel_channelvisits_path(@channel) %> last 40 mins: <%= link_to getChannelVisitors("past40mins", @channel), channel_channelvisits_path(@channel) %> last hour: <%= link_to getChannelVisitors("pasthour", @channel), channel_channelvisits_path(@channel) %></p>
<p class="navlinks">last 2 hours: <%= link_to getChannelVisitors("past2hours", @channel), channel_channelvisits_path(@channel) %> last 3 hours: <%= link_to getChannelVisitors("past3hours", @channel), channel_channelvisits_path(@channel) %></p>
<br>
<p><%= @channel.description %></p>
<br>
<% if @mainplaylists.count > 9 %>
   <p><%= paginate @mainplaylists %></p>
   <br>
<% end %>
<% @mainplaylists.each_with_index do |mainplaylist, index| %>
   <% if(((getSubplaylists(mainplaylist).count > 0) && getPlaylistMovies(getSubplaylists(mainplaylist).first, "Count") > 0) || (current_user && ((current_user.id == mainplaylist.user_id) || (current_user.admin || getCollabs > 0)))) %>
      <div class="container">
         <p><%= link_to mainplaylist.title, channel_mainplaylist_path(mainplaylist.channel, mainplaylist) %></p>
         <% if(current_user && ((current_user.id == mainplaylist.user_id) || current_user.admin)) %>
            <div class="container"><%= button_to 'Edit', edit_channel_mainplaylist_path(mainplaylist.channel, mainplaylist), method: :get %></div> <div class="container"><%= button_to 'Destroy', [mainplaylist.channel, mainplaylist], method: :delete, data: { confirm: 'Are you sure?' } %></div>
         <% end %>
         <% if getSubplaylists(mainplaylist).count > 0 && getPlaylistMovies(getSubplaylists(mainplaylist).first, "Count") > 0 %>
            <% if getSubplaylists(mainplaylist).last.fave_folder %>
               <p><%= video_tag(getVideo(getPlaylistMovies(getSubplaylists(mainplaylist).last.favoritemovies, "Array").movie), size: "200x200", :controls => true) %></p>
            <% else %>
               <p><%= video_tag(getVideo(getPlaylistMovies(getSubplaylists(mainplaylist).last, "Movie").last), size: "200x200", :controls => true) %></p>
            <% end %>
         <% else %>
            <p>No video available</p>
         <% end %>
         <% if getSubplaylists(mainplaylist).last.fave_folder %>
            <p class="navlinks">Video owner: <%= getUserPrivilege(getPlaylistMovies(getSubplaylists(mainplaylist).last.favoritemovies, "Array").movie.user) %><%= link_to getPlaylistMovies(getSubplaylists(mainplaylist).last.favoritemovies, "Array").movie.user.vname, user_path(getPlaylistMovies(getSubplaylists(mainplaylist).last.favoritemovies, "Array").movie.user) %></p>
            <p>Video Group: <%= getSubplaylists(mainplaylist).last.bookgroup.name %></p>
            <p>Type: Favorites Folder</p>
            <p>Faved on: <%= distance_of_time_in_words_to_now mainplaylist.created_on %> ago on (<%= mainplaylist.created_on.strftime("%B-%d-%Y") %>)</p>
            <p class="navlinks">Faved by: <%= getUserPrivilege(mainplaylist.user) %><%= link_to mainplaylist.user.vname, user_path(mainplaylist.user) %></p>
            <p>Status: <%= getActivity(mainplaylist.user) %>
               <% if getActivity(mainplaylist.user) == "Inactive" || getActivity(mainplaylist.user) == "Offline" %>
                  for <%= distance_of_time_in_words_to_now getTime(mainplaylist.user) %>
               <% end %>
            </p>
         <% else %>
            <p>Created on: <%= distance_of_time_in_words_to_now mainplaylist.created_on %> ago on (<%= mainplaylist.created_on.strftime("%B-%d-%Y") %>)</p>
            <p>Group: <%= getSubplaylists(mainplaylist).last.bookgroup.name %></p>
            <p>Type: Movies Folder</p>
            <p class="navlinks">Director: <%= getUserPrivilege(mainplaylist.user) %><%= link_to mainplaylist.user.vname, user_path(mainplaylist.user) %></p>
            <p>Status: <%= getActivity(mainplaylist.user) %>
               <% if getActivity(mainplaylist.user) == "Inactive" || getActivity(mainplaylist.user) == "Offline" %>
                  for <%= distance_of_time_in_words_to_now getTime(mainplaylist.user) %>
               <% end %>
            </p>
         <% end %>
      </div>
      <% if((index + 1) % 3 == 0 && ((index + 1) < @mainplaylists.count)) %>
         <br>
         <br>
      <% elsif((index + 1) == @mainplaylists.count) %>
         <br>
         <br>
      <% end %>
   <% end %>
<% end %>
<% if current_user %>
   <p><%= button_to 'New Mainplaylist', new_channel_mainplaylist_path(@channel), method: :get %></p>
   <br>
<% end %>
<p class="navlinks"><%= link_to "User Channels", user_channels_path(@channel.user) %> |
<%= link_to "Channel List", channels_path %></p>
