<%= form_for([@donationbox, @donor]) do |f| %>
  <% if @donor.errors.any? %>
    <div id="errorexplan">
      <h2 id="errorheader"><%= pluralize(@donor.errors.count, "error") %> prohibited this donor from being saved:</h2>

      <ul>
      <% @donor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :amount, "Points to donate" %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
  <p class="navlinks"><%= link_to 'Back', user_path(@donor.donationbox.user) %></p>
<% end %>
