<% provide(:h1, @sound.title) %>
<p id="notice"><%= notice %></p>
<br>
<p><%= @sound.description %></p>
<br>
<% if @sound.ogg.to_s != "" || @sound.mp3.to_s != "" %>
   <p><%= audio_tag(getGalleryMusic(@sound), :controls => true) %></p>
   <br>
<% end %>
<p>Created on: <%= distance_of_time_in_words_to_now @sound.created_on %> ago on (<%= @sound.created_on.strftime("%B-%d-%Y") %>)</p>
<p>Group: <%= @sound.bookgroup.name %></p>
<p class="navlinks">Subsheet: <%= link_to @sound.subsheet.title, mainsheet_subsheet_path(@subsheet.mainsheet, @sound.subsheet) %></p>
<% if @sound.user.userinfo.miniavatar.to_s != "" %>
   <br>
   <p><%= image_tag(@sound.user.userinfo.miniavatar_url(:thumb)) %></p>
<% end %>
<p class="navlinks">Announcer: <%= getUserPrivilege(@sound.user) %><%= link_to @sound.user.vname, user_path(@sound.user) %>
   <% if current_user && (current_user.id == @sound.user_id || current_user.admin) %>
      <div class="container"><%= button_to 'Edit', edit_subsheet_sound_path(@sound.subsheet, @sound), method: :get %></div> <div class="container"><%= button_to 'Destroy', [@sound.subsheet, @sound], method: :delete, data: { confirm: 'Are you sure?' } %></div>
   <% end %>
</p>
<p>Status: <%= getActivity(@sound.user) %>
   <% if getActivity(@sound.user) == "Offline" || getActivity(@sound.user) == "Inactive" %>
      for <%= distance_of_time_in_words_to_now getTime(@sound.user) %>
   <% end %>
</p>
<br>
<p>Visitors:</p>
<p class="navlinks">last 20 mins: <%= link_to getSoundVisitors("past20mins", @sound), sound_soundvisits_path(@sound) %> last 40 mins: <%= link_to getSoundVisitors("past40mins", @sound), sound_soundvisits_path(@sound) %> last hour: <%= link_to getSoundVisitors("pasthour", @sound), sound_soundvisits_path(@sound) %></p>
<p class="navlinks">last 2 hours: <%= link_to getSoundVisitors("past2hours", @sound), sound_soundvisits_path(@sound) %> last 3 hours: <%= link_to getSoundVisitors("past3hours", @sound), sound_soundvisits_path(@sound) %></p>
<% if current_user && current_user.id != @sound.user_id %>
   <% if retrieveSoundStar(@sound) == 0 %>
      <p><%= button_to 'Star', soundstars_star_path(:sound_id=>@sound.id), method: :post %></p>
   <% else %>
      <p><%= button_to 'Unstar', soundstars_star_path(:sound_id=>@sound.id), method: :post %></p>
   <% end %>
   <% if retrieveSoundFave(@sound, "Count").count == 0 %>
      <p><%= button_to 'Fave', new_sound_favoritesound_path(@sound), method: :get %></p>
   <% else %>
      <p><%= button_to 'Unfave', [@sound, retrieveSoundFave(@sound, "Retrieve")], method: :delete, data: { confirm: 'Are you sure?' } %></p>
   <% end %>
<% end %>
<% if @faves > 0 %>
   <br>
   <p>Faves: <%= @faves %></p>
<% end %>
<% if @stars > 0 %>
   <br>
   <p>Stars: <%= @stars %></p>
<% end %>
<% if current_user %>
   <% if @soundcomments.count > 0 %>
      <br>
      <p>Comments:</p>
      <br>
      <p><%= paginate @soundcomments %></p>
      <% @soundcomments.each do |soundcomment| %>
         <br>
         <% if soundcomment.user.userinfo.miniavatar.to_s != "" %>
            <p><%= image_tag(soundcomment.user.userinfo.miniavatar_url(:thumb)) %></p>
         <% end %>
         <p class="navlinks">By: <%= getUserPrivilege(soundcomment.user) %><%= link_to soundcomment.user.vname, user_path(soundcomment.user) %>
         <% if(current_user && ((current_user.id == soundcomment.user_id) || current_user.admin)) %>
            <div class="container"><%= button_to 'Edit', edit_sound_soundcomment_path(soundcomment.sound, soundcomment), method: :get %></div> <div class="container"><%= button_to 'Destroy', [soundcomment.sound, soundcomment], method: :delete, data: { confirm: 'Are you sure?' } %></div>
         <% end %>
         </p>
         <br>
         <p><%= soundcomment.message %></p>
         <br>
         <p>Created on: <%= distance_of_time_in_words_to_now soundcomment.created_on %> ago on (<%= soundcomment.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Status: <%= getActivity(soundcomment.user) %>
            <% if getActivity(soundcomment.user) == "Offline" || getActivity(soundcomment.user) == "Inactive" %>
               for <%= distance_of_time_in_words_to_now getTime(soundcomment.user) %>
            <% end %>
         </p>
      <% end %>
   <% end %>
   <br>
   <p class="navlinks"><%= link_to 'New Soundcomment', new_sound_soundcomment_path(@sound) %></p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', mainsheet_subsheet_path(@subsheet.mainsheet, @sound.subsheet) %></p>
