<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @colorscheme.name %>
</p>

<p>
  <b>Headercolour:</b>
  <%= @colorscheme.headercolour %>
</p>

<p>
  <b>Textcolour:</b>
  <%= @colorscheme.textcolour %>
</p>

<p>
  <b>Navigationcolor:</b>
  <%= @colorscheme.navigationcolor %>
</p>

<p>
  <b>Navigationlinkcolor:</b>
  <%= @colorscheme.navigationlinkcolor %>
</p>

<p>
  <b>Onlinestatuscolor:</b>
  <%= @colorscheme.onlinestatuscolor %>
</p>

<p>
  <b>Profilecolor:</b>
  <%= @colorscheme.profilecolor %>
</p>

<p>
  <b>Errorcolor:</b>
  <%= @colorscheme.errorcolor %>
</p>

<p>
  <b>Warningcolor:</b>
  <%= @colorscheme.warningcolor %>
</p>

<p>
  <b>Notificationcolor:</b>
  <%= @colorscheme.notificationcolor %>
</p>

<p>
  <b>Successcolor:</b>
  <%= @colorscheme.successcolor %>
</p>


<%= link_to 'Edit', edit_colorscheme_path(@colorscheme) %> |
<%= link_to 'Back', colorschemes_path %>
