<% provide(:h1, "New Registration") %>
<%= form_for(:session, url: registrations_verify_path) do |f| %>
   <p><%= f.label :color, "What is your favorite color?" %></p>
   <p><%= f.text_field :color %></p>
   <p><%= f.submit "Submit" %></p>
<% end %>
<br>
<p class="navlinks"><%= link_to "Back", root_path %></p>
