<% provide(:h1, @subtopic.title + "'s subscribers") %>
<div class="navlinks"><%= paginate @subtopicsubscribers %></div>
<% @subtopicsubscribers.each do |subtopicsubscriber| %>
   <br>
   <p>Created on: <%= distance_of_time_in_words_to_now subtopicsubscriber.created_on %> ago on (<%= subtopicsubscriber.created_on.strftime("%B-%d-%Y") %>)</p>
   <% if subtopicsubscriber.user.userinfo.miniavatar.to_s != "" %>
      <br>
      <p><%= image_tag(subtopicsubscriber.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="navlinks">Subscribed by: <%= getUserPrivilege(subtopicsubscriber.user) %><%= link_to subtopicsubscriber.user.vname, user_path(subtopicsubscriber.user) %></p>
   <p>Status: <%= getActivity(subtopicsubscriber.user) %>
      <% if getActivity(subtopicsubscriber.user) == "Offline" || getActivity(subtopicsubscriber.user) == "Inactive" %>
         for <%= distance_of_time_in_words_to_now getTime(subtopicsubscriber.user) %>
      <% end %>
   </p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
