<% provide(:h1, "Login") %>
<br>
<%= form_for(:session, url: loginpost_path) do |f| %>
   <p><%= f.label :login_id, "Login Name" %></p>
   <p><%= f.password_field :login_id %></p>
   <p><%= f.label :password %></p>
   <p><%= f.password_field :password %></p>
   <p><%= f.submit "Login" %></p>
<% end %>
<br>
<p class="navlinks">New User? <%= link_to "Register now!", register_path %></p>
<p class="navlinks">New Account? <%= link_to "Activate now!", activate_path %></p>
<p class="navlinks">Forgot Password? <%= link_to "Forgot Password", recover_path %></p>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
