<% provide(:h1, "Recover Password") %>
<br>
<p class="homepagestyle"><%= image_tag(@artpage.art_url(:thumb)) %></p>
<p class="homepagestyle"><%= @artpage.message %></p>
<br>
<div class="homepagestyle">
<%= form_for(:session, url: recoverypost_path) do |f| %>
   <p><%= f.label :login_id, "Login Name" %></p>
   <p><%= f.password_field :login_id %></p>
   <p><%= f.label :vname, "Virtual Name" %></p>
   <p><%= f.password_field :vname %></p>
   <p><%= f.submit "Reset" %></p>
<% end %>
</div>
<br>
<div class="homepagestyle">
<p class="navlinks"><%= link_to "Back", root_path %></p>
</div>
