<% provide(:h1, @blog.title + "'s visitors") %>
<p><%= paginate @blogvisits %></p>
<% @blogvisits.each do |blogvisit| %>
   <br>
   <% if blogvisit.user.userinfo.miniavatar.to != "" %>
      <p><%= image_tag(blogvisit.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="navlinks">Visitor: <%= getUserPrivilege(blogvisit.user) %><%= link_to blogvisit.user.vname, user_path(blogvisit.user) %></p>
   <p>Visited: <%= distance_of_time_in_words_to_now blogvisit.created_on %> ago on (<%= blogvisit.created_on.strftime("%B-%d-%Y") %>)</p>
   <p>Status: <%= getActivity(blogvisit.user) %>
      <% if getActivity(blogvisit.user) == "Offline" || getActivity(blogvisit.user) == "Inactive" %>
         for <%= distance_of_time_in_words_to_now getTime(blogvisit.user) %>
      <% end %>
   </p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
