<% provide(:h1, @art.title + "'s visitors") %>
<div class="navlinks"><%= paginate @artvisits %></div>
<% @artvisits.each do |artvisit| %>
   <br>
   <% if artvisit.user.userinfo.miniavatar.to != "" %>
      <p><%= image_tag(artvisit.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="navlinks">Visitor: <%= getUserPrivilege(artvisit.user) %><%= link_to artvisit.user.vname, user_path(artvisit.user) %></p>
   <p>Visited: <%= distance_of_time_in_words_to_now artvisit.created_on %> ago on (<%= artvisit.created_on.strftime("%B-%d-%Y") %>)</p>
   <p>Status: <%= getActivity(artvisit.user) %>
      <% if getActivity(artvisit.user) == "Offline" || getActivity(artvisit.user) == "Inactive" %>
         for <%= distance_of_time_in_words_to_now getTime(artvisit.user) %>
      <% end %>
   </p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
