<% provide(:h1, "Welcome to Duelingpets") %>
<% if checkMusicFlag == "On" %>
   <p><%= audio_tag (getHomepageMusic), :controls => true, :hidden => true, :loop => true, :autoplay => true %></p>
<% end %>
<% if checkMusicFlag == "On" %>
   <div class="homepagestyle"><%= button_to 'Turn off music', start_adjust_path, method: :post %></div>
<% else %>
   <div class="homepagestyle"><%= button_to 'Turn on music', start_adjust_path, method: :post %></div>
<% end %>
<p class="homepagestyle"><%= image_tag(@artpage.art_url(:thumb)) %></p>
<p class="homepagestyle"><%= @artpage.message %></p>
<br>
<% if newestMovies.count > 0 %>
<div class="homepagestyle">
   <p>Newest Movies</p>
   <br>
   <% newestMovies.each_with_index do |movie, index| %>
      <div class="container">
         <p class="navlinks"><%= link_to movie.title, subplaylist_movie_path(movie.subplaylist, movie) %></p>
         <p><%= video_tag(getVideo(movie), size: "200x200", :controls => true) %></p>
         <p>Created on: <%= distance_of_time_in_words_to_now movie.created_on %> ago on (<%= movie.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Group: <%= movie.bookgroup.name %></p>
         <p class="navlinks">Director: <%= getUserPrivilege(movie.user) %><%= link_to movie.user.vname, user_path(movie.user) %></p>
         <p>Status: <%= getActivity(movie.user) %>
            <% if getActivity(movie.user) == "Inactive" || getActivity(movie.user) == "Offline" %>
               for <%= distance_of_time_in_words_to_now getTime(movie.user) %>
            <% end %>
         </p>
      </div>
      <% if newestMovies.count == (index + 1) %>
         <br>
         <br>
      <% end %>
   <% end %>
</div>
<% end %>
<% if newestArts.count > 0 %>
<div class="homepagestyle">
   <p>Newest Arts</p>
   <br>
   <% newestArts.each_with_index do |art, index| %>
      <div class="container">
         <p class="navlinks"><%= link_to art.title, subfolder_art_path(art.subfolder, art) %></p>
         <p><%= image_tag(art.image_url(:thumb)) %></p>
         <p>Created on: <%= distance_of_time_in_words_to_now art.created_on %> ago on (<%= art.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Group: <%= art.bookgroup.name %></p>
         <p class="navlinks">Artist: <%= getUserPrivilege(art.user) %><%= link_to art.user.vname, user_path(art.user) %></p>
         <p>Status: <%= getActivity(art.user) %>
            <% if getActivity(art.user) == "Inactive" || getActivity(art.user) == "Offline" %>
               for <%= distance_of_time_in_words_to_now getTime(art.user) %>
            <% end %>
         </p>
      </div>
      <% if newestArts.count == (index + 1) %>
         <br>
         <br>
      <% end %>
   <% end %>
</div>
<% end %>
<% if newestSounds.count > 0 %>
<div class="homepagestyle">
   <p>Newest Audios</p>
   <br>
   <% newestSounds.each_with_index do |sound, index| %>
      <div class="container">
         <p class="navlinks"><%= link_to sound.title, subsheet_sound_path(sound.subsheet, sound) %></p>
         <p><%= audio_tag(getGalleryMusic(sound), :controls => true) %></p>
         <p>Created on: <%= distance_of_time_in_words_to_now sound.created_on %> ago on (<%= sound.created_on.strftime("%B-%d-%Y") %>)</p>
         <p>Group: <%= sound.bookgroup.name %></p>
         <p class="navlinks">Composer: <%= getUserPrivilege(sound.user) %><%= link_to sound.user.vname, user_path(sound.user) %></p>
         <p>Status: <%= getActivity(sound.user) %>
            <% if getActivity(sound.user) == "Inactive" || getActivity(sound.user) == "Offline" %>
               for <%= distance_of_time_in_words_to_now getTime(sound.user) %>
            <% end %>
         </p>
      </div>
      <% if newestSounds.count == (index + 1) %>
         <br>
         <br>
      <% end %>
   <% end %>
</div>
<% end %>
<p>Pets</p>
<p>Stories</p>
<p>Items</p>
