<% provide(:h1, "Sitemap") %>
<p>Root pages:</p>
<p class="navlinks"><%= link_to "Home", root_path %></p>
<p class="navlinks"><%= link_to "Contact", contact_path %></p>
<p class="navlinks"><%= link_to "Stats", stats_path %></p>
<p>Features:</p>
<p class="navlinks"><%= link_to "News", blogs_path %></p>
<p>Creativity:</p>
<p>Community:</p>
<br>
<p class="navlinks"><%= link_to "Back", root_path %></p>
