<% provide(:h1, "Stats") %>
<!--Economy Related Attributes-->
<p>Economy</p>
<p>Sources</p>
<p>Today: <%= getSourced("Today") %> points Week: <%= getSourced("Week") %> points Month: <%= getSourced("Month") %> points</p>
<p>Year: <%= getSourced("Year") %> points 3Years: <%= getSourced("Threeyears") %> points Bacon of Tomato: <%= getSourced("BaconOfTomato") %> points</p>
<br>
<p>Sinks</p>
<p>Today: <%= getSunk("Today") %> points Week: <%= getSunk("Week") %> points Month: <%= getSunk("Month") %> points</p>
<p>Year: <%= getSunk("Year") %> points 3 Years: <%= getSunk("Threeyears") %> points Bacon of Tomato: <%= getSunk("BaconOfTomato") %> points</p>
<br>
<p>Transfers</p>
<p>Today: <%= getTransfers("Today") %> points Week: <%= getTransfers("Week") %> points Month: <%= getTransfers("Month") %> points</p>
<p>Year: <%= getTransfers("Year") %> points 3 Years: <%= getTransfers("Threeyears") %> points Bacon of Tomato: <%= getTransfers("BaconOfTomato") %> points</p>
<br>
<p>Points in the world: <%= getEconomy %> Average Income: <%= getAvgIncome %></p>
<p>Total sourced: <%= getSourced("All") %> Total sunk: <%= getSunk("All") %> Total transfered: <%= getTransfers("All") %></p>
<p>Contest points available: <%= getContest %></p>
<br>
<!--Referrals and Colorschemes Related Attributes-->
<p>Referrals</p>
<p>Today: <%= referralsSourced("Today") %> points Week: <%= referralsSourced("Week") %> points Month: <%= referralsSourced("Month") %> points</p>
<p>Year: <%= referralsSourced("Year") %> points 3 Years: <%= referralsSourced("Threeyears") %> points Bacon of Tomato: <%= referralsSourced("BaconOfTomato") %> points</p>
<p>Discovery referrals: <%= referrals("Discovery") %> User referrals: <%= referrals("User") %></p>
<br>
<p>Colorschemes</p>
<p>Today: <%= colorschemesSourced("Today") %> points Week: <%= colorschemesSourced("Week") %> points Month: <%= colorschemesSourced("Month") %> points</p>
<p>Year: <%= colorschemesSourced("Year") %> points 3 Years: <%= colorschemesSourced("Threeyears") %> points Bacon of Tomato: <%= colorschemesSourced("BaconOfTomato") %> points</p>
<p>Colorscheme total: <%= colorschemes %></p>
<br>
<!--Forum Related Attributes-->
<p>Forums</p>
<p>Today: <%= forumTime("Today") %> Week: <%= forumTime("Week") %> Month: <%= forumTime("Month") %> Year: <%= forumTime("Year") %> 3Years: <%= forumTime("Threeyears") %> Bacon of Tomato: <%= forumTime("BaconOfTomato") %></p>
<p>Forum total: <%= forumTime("All") %></p>
<br>
<p>Topiccontainers</p>
<p>Sources</p>
<p>Today: <%= containersSourced("Today") %> points Week: <%= containersSourced("Week") %> points Month: <%= containersSourced("Month") %> points</p>
<p>Year: <%= containersSourced("Year") %> points 3 Years: <%= containersSourced("Threeyears") %> points Bacon of Tomato: <%= containersSourced("BaconOfTomato") %> points</p>
<p>Topiccontainer total: <%= containers %></p>
<br>
<p>Maintopics</p>
<p>Sources</p>
<p>Today: <%= maintopicsSourced("Today") %> points Week: <%= maintopicsSourced("Week") %> points Month: <%= maintopicsSourced("Month") %> points</p>
<p>Year: <%= maintopicsSourced("Year") %> points 3 Years: <%= maintopicsSourced("Threeyears") %> points Bacon of Tomato: <%= maintopicsSourced("BaconOfTomato") %> points</p>
<p>Maintopic total: <%= maintopics %></p>
<br>
<p>Subtopics</p>
<p>Sources</p>
<p>Today: <%= subtopicsSourced("Today") %> points Week: <%= subtopicsSourced("Week") %> points Month: <%= subtopicsSourced("Month") %> points</p>
<p>Year: <%= subtopicsSourced("Year") %> points 3 Years: <%= subtopicsSourced("Threeyears") %> points Bacon of Tomato: <%= subtopicsSourced("BaconOfTomato") %> points</p>
<p>Subtopic total: <%= subtopics %></p>
<br>
<p>Narratives</p>
<p>Sources</p>
<p>Today: <%= narrativesSourced("Today") %> points Week: <%= narrativesSourced("Week") %> points Month: <%= narrativesSourced("Month") %> points</p>
<p>Year: <%= narrativesSourced("Year") %> points 3 Years: <%= narrativesSourced("Threeyears") %> points Bacon of Tomato: <%= narrativesSourced("BaconOfTomato") %> points</p>
<p>Narrative total: <%= narratives %></p>
<br>
<!--Audio Related Attributes-->
<p>Radios</p>
<p>Today: <%= radioTime("Today") %> Week: <%= radioTime("Week") %> Month: <%= radioTime("Month") %> Year: <%= radioTime("Year") %> 3Years: <%= radioTime("Threeyears") %> Bacon of Tomato: <%= radioTime("BaconOfTomato") %></p>
<p>Radio total: <%= radioTime("All") %></p>
<br>
<p>Mainsheets</p>
<p>Today: <%= mainsheetTime("Today") %> Week: <%= mainsheetTime("Week") %> Month: <%= mainsheetTime("Month") %> Year: <%= mainsheetTime("Year") %> 3Years: <%= mainsheetTime("Threeyears") %> Bacon of Tomato: <%= mainsheetTime("BaconOfTomato") %></p>
<p>Mainsheet total: <%= mainsheetTime("All") %></p>
<br>
<p>Subsheets</p>
<p>Today: <%= subsheetTime("Today") %> Week: <%= subsheetTime("Week") %> Month: <%= subsheetTime("Month") %> Year: <%= subsheetTime("Year") %> 3Years: <%= subsheetTime("Threeyears") %> Bacon of Tomato: <%= subsheetTime("BaconOfTomato") %></p>
<p>Subsheet total: <%= subsheetTime("All") %></p>
<br>
<p>Sounds</p>
<p>Sources</p>
<p>Today: <%= soundsSourced("Today") %> points Week: <%= soundsSourced("Week") %> points Month: <%= soundsSourced("Month") %> points</p>
<p>Year: <%= soundsSourced("Year") %> points 3 Years: <%= soundsSourced("Threeyears") %> points Bacon of Tomato: <%= soundsSourced("BaconOfTomato") %> points</p>
<p>Sound total: <%= sounds %></p>
<br>
<p>Favorite Sounds</p>
<p>Sources</p>
<p>Today: <%= favoritesoundsSourced("Today") %> points Week: <%= favoritesoundsSourced("Week") %> points Month: <%= favoritesoundsSourced("Month") %> points</p>
<p>Year: <%= favoritesoundsSourced("Year") %> points 3 Years: <%= favoritesoundsSourced("Threeyears") %> points Bacon of Tomato: <%= favoritesoundsSourced("BaconOfTomato") %> points</p>
<p>Favoritesound total: <%= favoritesounds %></p>
<br>
<p>Sound Stars</p>
<p>Sources</p>
<p>Today: <%= soundstarsSourced("Today") %> points Week: <%= soundstarsSourced("Week") %> points Month: <%= soundstarsSourced("Month") %> points</p>
<p>Year: <%= soundstarsSourced("Year") %> points 3 Years: <%= soundstarsSourced("Threeyears") %> points Bacon of Tomato: <%= soundstarsSourced("BaconOfTomato") %> points</p>
<p>Soundstar total: <%= soundstars %></p>
<br>
<p>Sound Critiques</p>
<p>Sources</p>
<p>Today: <%= soundcritiquesSourced("Today") %> points Week: <%= soundcritiquesSourced("Week") %> points Month: <%= soundcritiquesSourced("Month") %> points</p>
<p>Year: <%= soundcritiquesSourced("Year") %> points 3 Years: <%= soundcritiquesSourced("Threeyears") %> points Bacon of Tomato: <%= soundcritiquesSourced("BaconOfTomato") %> points</p>
<p>Soundcritique total: <%= soundcritiques %></p>
<br>
<p>Sound Comments</p>
<p>Today: <%= soundcommentTime("Today") %> Week: <%= soundcommentTime("Week") %> Month: <%= soundcommentTime("Month") %> Year: <%= soundcommentTime("Year") %> 3Years: <%= soundcommentTime("Threeyears") %> Bacon of Tomato: <%= soundcommentTime("BaconOfTomato") %></p>
<p>Soundcomment total: <%= soundcommentTime("All") %></p>
<br>
<!--Art Related Attributes-->
<p>Galleries</p>
<p>Today: <%= galleryTime("Today") %> Week: <%= galleryTime("Week") %> Month: <%= galleryTime("Month") %> Year: <%= galleryTime("Year") %> 3Years: <%= galleryTime("Threeyears") %> Bacon of Tomato: <%= galleryTime("BaconOfTomato") %></p>
<p>Gallery total: <%= galleryTime("All") %></p>
<br>
<p>Mainfolders</p>
<p>Today: <%= mainfolderTime("Today") %> Week: <%= mainfolderTime("Week") %> Month: <%= mainfolderTime("Month") %> Year: <%= mainfolderTime("Year") %> 3Years: <%= mainfolderTime("Threeyears") %> Bacon of Tomato: <%= mainfolderTime("BaconOfTomato") %></p>
<p>Mainfolder total: <%= mainfolderTime("All") %></p>
<br>
<p>Subfolders</p>
<p>Today: <%= subfolderTime("Today") %> Week: <%= subfolderTime("Week") %> Month: <%= subfolderTime("Month") %> Year: <%= subfolderTime("Year") %> 3Years: <%= subfolderTime("Threeyears") %> Bacon of Tomato: <%= subfolderTime("BaconOfTomato") %></p>
<p>Subfolder total: <%= subfolderTime("All") %></p>
<br>
<p>Arts</p>
<p>Sources</p>
<p>Today: <%= artsSourced("Today") %> points Week: <%= artsSourced("Week") %> points Month: <%= artsSourced("Month") %> points</p>
<p>Year: <%= artsSourced("Year") %> points 3 Years: <%= artsSourced("Threeyears") %> points Bacon of Tomato: <%= artsSourced("BaconOfTomato") %> points</p>
<p>Art total: <%= arts %></p>
<br>
<p>Favorite Arts</p>
<p>Sources</p>
<p>Today: <%= favoriteartsSourced("Today") %> points Week: <%= favoriteartsSourced("Week") %> points Month: <%= favoriteartsSourced("Month") %> points</p>
<p>Year: <%= favoriteartsSourced("Year") %> points 3 Years: <%= favoriteartsSourced("Threeyears") %> points Bacon of Tomato: <%= favoriteartsSourced("BaconOfTomato") %> points</p>
<p>Favoriteart total: <%= favoritearts %></p>
<br>
<p>Art Stars</p>
<p>Sources</p>
<p>Today: <%= artstarsSourced("Today") %> points Week: <%= artstarsSourced("Week") %> points Month: <%= artstarsSourced("Month") %> points</p>
<p>Year: <%= artstarsSourced("Year") %> points 3 Years: <%= artstarsSourced("Threeyears") %> points Bacon of Tomato: <%= artstarsSourced("BaconOfTomato") %> points</p>
<p>Artstar total: <%= artstars %></p>
<br>
<p>Art Critiques</p>
<p>Sources</p>
<p>Today: <%= artcritiquesSourced("Today") %> points Week: <%= artcritiquesSourced("Week") %> points Month: <%= artcritiquesSourced("Month") %> points</p>
<p>Year: <%= artcritiquesSourced("Year") %> points 3 Years: <%= artcritiquesSourced("Threeyears") %> points Bacon of Tomato: <%= artcritiquesSourced("BaconOfTomato") %> points</p>
<p>Artcritique total: <%= artcritiques %></p>
<br>
<p>Art Comments</p>
<p>Today: <%= artcommentTime("Today") %> Week: <%= artcommentTime("Week") %> Month: <%= artcommentTime("Month") %> Year: <%= artcommentTime("Year") %> 3Years: <%= artcommentTime("Threeyears") %> Bacon of Tomato: <%= artcommentTime("BaconOfTomato") %></p>
<p>Artcomment total: <%= artcommentTime("All") %></p>
<br>
<!--Movie Related Attributes-->
<p>Channels</p>
<p>Today: <%= channelTime("Today") %> Week: <%= channelTime("Week") %> Month: <%= channelTime("Month") %> Year: <%= channelTime("Year") %> 3Years: <%= channelTime("Threeyears") %> Bacon of Tomato: <%= channelTime("BaconOfTomato") %></p>
<p>Channel total: <%= channelTime("All") %></p>
<br>
<p>Mainplaylists</p>
<p>Today: <%= mainplaylistTime("Today") %> Week: <%= mainplaylistTime("Week") %> Month: <%= mainplaylistTime("Month") %> Year: <%= mainplaylistTime("Year") %> 3Years: <%= mainplaylistTime("Threeyears") %> Bacon of Tomato: <%= mainplaylistTime("BaconOfTomato") %></p>
<p>Mainplaylist total: <%= mainplaylistTime("All") %></p>
<br>
<p>Subplaylists</p>
<p>Today: <%= subplaylistTime("Today") %> Week: <%= subplaylistTime("Week") %> Month: <%= subplaylistTime("Month") %> Year: <%= subplaylistTime("Year") %> 3Years: <%= subplaylistTime("Threeyears") %> Bacon of Tomato: <%= subplaylistTime("BaconOfTomato") %></p>
<p>Subplaylist total: <%= subplaylistTime("All") %></p>
<br>
<p>Movies</p>
<p>Sources</p>
<p>Today: <%= moviesSourced("Today") %> points Week: <%= moviesSourced("Week") %> points Month: <%= moviesSourced("Month") %> points</p>
<p>Year: <%= moviesSourced("Year") %> points 3 Years: <%= moviesSourced("Threeyears") %> points Bacon of Tomato: <%= moviesSourced("BaconOfTomato") %> points</p>
<p>Movie total: <%= movies %></p>
<br>
<p>Favorite Movies</p>
<p>Sources</p>
<p>Today: <%= favoritemoviesSourced("Today") %> points Week: <%= favoritemoviesSourced("Week") %> points Month: <%= favoritemoviesSourced("Month") %> points</p>
<p>Year: <%= favoritemoviesSourced("Year") %> points 3 Years: <%= favoritemoviesSourced("Threeyears") %> points Bacon of Tomato: <%= favoritemoviesSourced("BaconOfTomato") %> points</p>
<p>Favoritemovie total: <%= favoritemovies %></p>
<br>
<p>Movie Stars</p>
<p>Sources</p>
<p>Today: <%= moviestarsSourced("Today") %> points Week: <%= moviestarsSourced("Week") %> points Month: <%= moviestarsSourced("Month") %> points</p>
<p>Year: <%= moviestarsSourced("Year") %> points 3 Years: <%= moviestarsSourced("Threeyears") %> points Bacon of Tomato: <%= moviestarsSourced("BaconOfTomato") %> points</p>
<p>Moviestar total: <%= moviestars %></p>
<br>
<p>Movie Critiques</p>
<p>Sources</p>
<p>Today: <%= moviecritiquesSourced("Today") %> points Week: <%= moviecritiquesSourced("Week") %> points Month: <%= moviecritiquesSourced("Month") %> points</p>
<p>Year: <%= moviecritiquesSourced("Year") %> points 3 Years: <%= moviecritiquesSourced("Threeyears") %> points Bacon of Tomato: <%= moviecritiquesSourced("BaconOfTomato") %> points</p>
<p>Moviecritique total: <%= moviecritiques %></p>
<br>
<p>Movie Comments</p>
<p>Today: <%= moviecommentTime("Today") %> Week: <%= moviecommentTime("Week") %> Month: <%= moviecommentTime("Month") %> Year: <%= moviecommentTime("Year") %> 3Years: <%= moviecommentTime("Threeyears") %> Bacon of Tomato: <%= moviecommentTime("BaconOfTomato") %></p>
<p>Moviecomment total: <%= moviecommentTime("All") %></p>
<br>
<!--Blog Related Attributes-->
<p>Blogs</p>
<p>Sources</p>
<p>Today: <%= blogsSourced("Today") %> points Week: <%= blogsSourced("Week") %> points Month: <%= blogsSourced("Month") %> points</p>
<p>Year: <%= blogsSourced("Year") %> points 3 Years: <%= blogsSourced("Threeyears") %> points Bacon of Tomato: <%= blogsSourced("BaconOfTomato") %> points</p>
<br>
<p>Sinks</p>
<p>Today: <%= blogsSunk("Today") %> points Week: <%= blogsSunk("Week") %> points Month: <%= blogsSunk("Month") %> points</p>
<p>Year: <%= blogsSunk("Year") %> points 3 Years: <%= blogsSunk("Threeyears") %> points Bacon of Tomato: <%= blogsSunk("BaconOfTomato") %> points</p>
<br>
<p>Blogs points sourced: <%= blogsSourced("All") %> Ads points sunk: <%= blogsSunk("All") %></p>
<p>Blog total: <%= blogs %></p>
<br>
<p>Blog Stars</p>
<p>Sources</p>
<p>Today: <%= blogstarsSourced("Today") %> points Week: <%= blogstarsSourced("Week") %> points Month: <%= blogstarsSourced("Month") %> points</p>
<p>Year: <%= blogstarsSourced("Year") %> points 3 Years: <%= blogstarsSourced("Threeyears") %> points Bacon of Tomato: <%= blogstarsSourced("BaconOfTomato") %> points</p>
<p>Blogstar total: <%= blogstars %></p>
<br>
<p>Replies</p>
<p>Today: <%= repliesSourced("Today") %> points Week: <%= repliesSourced("Week") %> points Month: <%= repliesSourced("Month") %> points</p>
<p>Year: <%= repliesSourced("Year") %> points 3 Years: <%= repliesSourced("Threeyears") %> points Bacon of Tomato: <%= repliesSourced("BaconOfTomato") %> points</p>
<p>Reply total: <%= replies %></p>
<br>
<!--User Related Attributes-->
<p>Shouts</p>
<p>Today: <%= shoutTime("Today") %> Week: <%= shoutTime("Week") %> Month: <%= shoutTime("Month") %> Year: <%= shoutTime("Year") %> 3Years: <%= shoutTime("Threeyears") %> Bacon of Tomato: <%= shoutTime("BaconOfTomato") %></p>
<p>Shouts total: <%= shoutTime("All") %></p>
<br>
<p>Groups</p>
<p>Peter Rabbit: <%= getGroups("Rabbit") %> Dragons of Blueland: <%= getGroups("Blueland") %> The Dragon and The George: <%= getGroups("Dragon") %></p>
<p>Silverwing: <%= getGroups("Silverwing") %> Harahpin: <%= getGroups("Harahpin") %> LOTR: <%= getGroups("Rings") %></p>
<br>
<p>Signups</p>
<p>Today: <%= getSignups("Today") %> Week: <%= getSignups("Week") %> Month: <%= getSignups("Month") %> Year: <%= getSignups("Year") %> 3 Years: <%= getSignups("Threeyears") %> Bacon of Tomato: <%= getSignups("BaconOfTomato") %></p>
<p>Total users: <%= getSignups("All") %> Total bots: <%= getUserStatus("Bots") %></p>
<br>
<p class="navlinks"><%= link_to "Back", root_path %></p>
