<% provide(:h1, "Favoritemovie List") %>
<p><%= paginate @favoritemovies %></p>
<% @favoritemovies.each do |favoritemovie| %>
   <br>
   <% if favoritemovie.user.userinfo.miniavatar.to_s != "" %>
      <p><%= image_tag(favoritemovie.user.userinfo.miniavatar_url(:thumb)) %></p>
   <% end %>
   <p class="navlinks">Fan: <%= getUserPrivilege(favoritemovie.user) %><%= link_to favoritemovie.user.vname, user_path(favoritemovie.user) %></p>
   <p>Status: <%= getActivity(favoritemovie.user) %>
      <% if getActivity(favoritemovie.user) == "Offline" || getActivity(favoritemovie.user) == "Inactive" %>
         for <%= distance_of_time_in_words_to_now getTime(favoritemovie.user) %>
      <% end %>
   </p>
   <br>
   <p class="navlinks">Favorite movie: <%= link_to favoritemovie.movie.title, subplaylist_movie_path(favoritemovie.movie.subplaylist, favoritemovie.movie) %><%= button_to 'Destroy', [favoritemovie.movie, favoritemovie], method: :delete, data: { confirm: 'Are you sure?' } %></p>
   <p>Created on: <%= distance_of_time_in_words_to_now favoritemovie.created_on %> ago on (<%= favoritemovie.created_on.strftime("%B-%d-%Y") %>)</p>
   <p class="navlinks">Favorite folder: <%= link_to favoritemovie.subplaylist.title, mainplaylist_subplaylist_path(favoritemovie.subplaylist.mainplaylist, favoritemovie.subplaylist) %></p>
<% end %>
<br>
<p class="navlinks"><%= link_to 'Back', root_path %></p>
