<%= form_for([@mainsheet, @subsheet]) do |f| %>
  <% if @subsheet.errors.any? %>
    <div id="errorexplan">
      <h2 id="errorheader"><%= pluralize(@subsheet.errors.count, "error") %> prohibited this subsheet from being saved:</h2>

      <ul>
      <% @subsheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :collab_mode %><br />
    <%= f.check_box :collab_mode %>
  </div>
  <div class="field">
    <%= f.label :fave_folder %><br />
    <%= f.check_box :fave_folder %>
  </div>
  <div class="field">
    <%= f.label :bookgroup_id, "Select Group" %><br />
    <%= f.collection_select(:bookgroup_id, @group, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
  <p class="navlinks"><%= link_to 'Back', radiostation_mainsheet_path(@subsheet.mainsheet.radiostation, @subsheet.mainsheet) %></p>
<% end %>
