<!DOCTYPE html>
<html>
   <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
      <h1>The announcer <%= @sound.user.vname %> created a new sound called <%= @sound.title %>.</h1>
      <p>It seems that the announcer you are watching has just created some new content.
         Since your are using the new watch system you will be able to receive alerts
         about this particular announcer before anyone else does. So even if the content is
         buried you will be able to still know about the content itself.
      </p>
      <p>The content of this sound is directly below this text.</p>
      <p><%= @sound.description %></p>
      <% if @sound.ogg.to_s != "" || @sound.mp3.to_s != "" %>
         <br>
         <% if @sound.ogg.to_s != "" %>
            <p><%= audio_tag(attachments[@sound.ogg.to_s].url, :controls => true) %></p>
         <% end %>
         <% if @sound.mp3.to_s != "" %>
            <p><%= audio_tag(attachments[@sound.mp3.to_s].url, :controls => true) %></p>
         <% end %>
      <% end %>
      <br>
      <p>From the Duelingpets Staff</p>
   </body>
</html>
