<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @artpage.name %>
</p>

<p>
  <b>Created on:</b>
  <%= @artpage.created_on %>
</p>

<p>
  <b>Message:</b>
  <%= @artpage.message %>
</p>

<p>
  <b>Art:</b>
  <%= @artpage.art %>
</p>


<%= link_to 'Edit', edit_artpage_path(@artpage) %> |
<%= link_to 'Back', artpages_path %>
