<% if optional %>
   <% provide(:h1, @user.vname +  "'s radiostations") %>
<% else %>
   <% provide(:h1, "Radiostation List") %>
<% end %>
<p><%= paginate @radiostations %></p>
<% @radiostations.each do |radiostation| %>
   <br>
   <p class="navlinks"><%= link_to radiostation.name, user_radiostation_path(radiostation.user, radiostation) %></p>
   <p>Created on: <%= distance_of_time_in_words_to_now radiostation.created_on %> ago on (<%= radiostation.created_on.strftime("%B-%d-%Y") %>)</p>
   <% if !optional %>
      <br>
      <% if radiostation.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(radiostation.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="navlinks">Announcer: <%= getUserPrivilege(radiostation.user) %><%= link_to radiostation.user.vname, user_path(radiostation.user) %></p>
      <p>Status: <%= getActivity(radiostation.user) %>
         <% if getActivity(radiostation.user) == "Offline" || getActivity(radiostation.user) == "Inactive" %>
            for <%= distance_of_time_in_words_to_now getTime(radiostation.user) %>
         <% end %>
      </p>
      <br>
   <% end %>
   <p><%= radiostation.description %></p>
<% end %>
<% if optional %>
   <br>
   <p class="navlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <br>
   <p class="navlinks"><%= link_to 'Back', root_path %></p>
<% end %>
